@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ClientDependency.Core.Mvc;

@{
    Layout = "Master.cshtml";
    var resetGuid = Request.QueryString["resetGUID"];


    // You may need these, so  un-comment out any you have not already inluded in your master template
    //Html.RequiresJs("~/scripts/jquery-3.5.1.min.js")
    //    .RequiresJs("~/scripts/bootstrap.bundle.min.js")
    //    .RequiresJs("~/scripts/jquery.validate.min.js")
    //    .RequiresJs("~/scripts/jquery.validate.unobtrusive.min.js");

}
@section Styles{
    <link rel="stylesheet" href="@Url.Content("~/css/forums.css")" />
}
<div class="container">
    <div class="row">
        <div class="col-12">
            @Html.Partial("Forums/breadcrumb")

        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <div class="page-header">
                <h2>@Model.Value("title")</h2>
            </div>
        </div>
    </div>
    @if (string.IsNullOrWhiteSpace(resetGuid))
    {
        <div class="row">
            <div class="col-sm-8 offset-sm-2">


                @Model.Value("bodyText")


            </div>
        </div>
    }
    <p>&nbsp;</p>
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <span class="auth-content">
                @RenderBody()
            </span>

        </div>
    </div>
</div>

<!-- scripts -->
@section extrascripts
{
    @Html.RenderJsHere()
    
    <script>
        function pageRedirect(returnUrl) {
            var delay = 4000; // time in milliseconds

            // Display message
            $(".auth-content").html("Please wait, you are being redirected.").addClass("ta-center");

            setTimeout(function () {
                window.location = returnUrl;
            }, delay);

        }
    </script>

}